# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Build output directory
target

# Dependency directory
node_modules
bower_components

# Users Environment Variables
.lock-wscript

# Intellij
.idea
*.iml
